<div class="login">
  <div class="formContainer">
    <div class="form">
      <label class="icon-user"></label>
      <input type="text" placeholder="账号/昵称/手机号码" autocomplete="off" #account>
    </div>
    <div class="form">
      <label class="icon-lock"></label>
      <input type="password" placeholder="密码" autocomplete="off" #password>
    </div>
    <div class="formBtn" (click)="login(account.value,password.value)">
      登 录
    </div>
  </div>
  <div class="titleBar"></div>
  <div class="topBar">
    <a class="fa fa-minus white lg" (click)="min()"></a>
    <a class="fa fa-close white lg" (click)="close()"></a>
  </div>
</div>
